* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sofia Pro", sans-serif !important;
  overflow-x: hidden;
}

.container {
  max-width: 1434px;
  margin: 0 auto;
}

header .circle-svg {
  position: absolute;
  bottom: -194px;
  right: 380px;
}

.our_services .circle-svg {
  position: absolute;
  top: -473px;
  right: 380px;
}

header {
  position: relative;
  background: #f3fbff;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 25px;
  font-weight: 600;
}

header .cta_btn {
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Sofia Pro';
  margin-left: 25px;
  padding: 18px 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#242424), to(#000000));
  background: linear-gradient(0deg, #242424, #000000);
  color: #fff;
  border: 0;
  border-radius: 5px;
  line-height: 1;
  font-size: 14px;
  -webkit-box-shadow: 6px 6px 20px #00000020;
          box-shadow: 6px 6px 20px #00000020;
}

header .cta_btn i.fas.fa-phone-alt {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #1c1c1c;
  font-size: 17px;
  -webkit-text-stroke: 1px #fff;
  margin-right: 8px;
}

header main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
}

header .meeting_image {
  position: relative;
  width: 50%;
}

header .meeting_image img {
  position: absolute;
  left: 0;
  z-index: 9;
}

header .heading_content {
  width: 50%;
  z-index: 1;
}

header .heading_content h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.1;
}

header .heading_content h1 span {
  color: #21AAE9;
}

header .heading_content p {
  margin-top: 30px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
}

header .heading_content .cta_btn {
  font-size: 20px;
  margin: 72px 0 110px;
  padding: 18px 28px;
}

header .heading_content .cta_btn i.fas.fa-phone-alt {
  font-size: 22px;
}

.our_services {
  background: #fff;
  position: relative;
  overflow: hidden;
}

section h1.section_heading {
  font-size: 55px;
  font-weight: 500;
  padding: 172px 0 90px;
}

section h1.section_heading span {
  font-weight: 700;
  color: #21AAE9;
}

section .card_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .card_element .card {
  width: 100%;
  padding: 33px 21px;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  border-radius: 100%;
  background: white;
  margin-bottom: 70px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

section .card_element .card:hover {
  -webkit-box-shadow: 15px 15px 60px #00000010;
          box-shadow: 15px 15px 60px #00000010;
  border-radius: 8px;
}

section .card_element .card:hover button.learn_more {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

section .card_element .card_wrap {
  width: 33%;
}

section .card_element .card_wrap:first-child {
  padding-right: 60px;
}

section .card_element .card_wrap:nth-child(2) {
  padding: 0 30px;
}

section .card_element .card_wrap:last-child {
  padding-left: 60px;
}

section .card_element .card_wrap:first-child .card_icon {
  background: #21AAE910;
}

section .card_element .card_wrap:nth-child(2) .card_icon {
  background: #F1212110;
}

section .card_element .card_wrap:nth-child(3) .card_icon {
  background: #EED91910;
}

section .card_element .card_wrap:nth-child(4) .card_icon {
  background: #FF8A0010;
}

section .card_element .card_wrap:nth-child(5) .card_icon {
  background: #FF00B810;
}

section .card_element .card_wrap:nth-child(6) .card_icon {
  background: #21E97110;
}

section .card_element:last-child .card_wrap:first-child .card_icon {
  background: #FF8A0010;
}

section .card_element:last-child .card_wrap:nth-child(2) .card_icon {
  background: #FF00B810;
}

section .card_element:last-child .card_wrap:nth-child(3) .card_icon {
  background: #21E97110;
}

section .card_element .card_icon {
  width: 92px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
}

section .card_element .card_heading {
  margin: 20px 0 18px;
  font-size: 20px;
  font-weight: 600;
}

section .card_element .card_discription {
  font-weight: 300;
  font-size: 14px;
  max-width: 84%;
  line-height: 1.3;
  margin-bottom: 80px;
}

section .card_element .learn_more {
  background: transparent;
  border: 0;
  color: #21AAE9;
  font-size: 14px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

section .card_element .learn_more img {
  margin-left: 24px;
}

.our_approach {
  background: #f3fbff;
}

.our_approach .our_approach_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our_approach .card_data {
  width: 60%;
  padding-top: 172px;
}

.our_approach .our_approach_head {
  width: 40%;
}

.our_approach .card_element .card_wrap {
  width: 50%;
  padding-right: 60px !important;
  padding-left: 0 !important;
}

.our_approach .card_element .card {
  padding: 26px 45px 32px;
  text-align: center;
  position: relative;
  background-color: #f3fbff;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2321AAE9FF' stroke-width='0' stroke-dasharray='12%2c 14' stroke-dashoffset='50' stroke-linecap='square'/%3e%3c/svg%3e");
  -webkit-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
}

.our_approach .card_element .card:hover {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2321AAE9FF' stroke-width='3' stroke-dasharray='12%2c 14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.our_approach .card_element .card:hover:after {
  width: 100%;
}

.our_approach .card_element .card:after {
  content: "";
  background: #21aae9;
  padding: 7px 0;
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.our_approach .card_element .card_heading {
  margin: 40px 0 33px;
}

.our_approach .card_element .card_discription {
  margin-bottom: 50px;
  max-width: 100%;
}

.our_approach .card_element .card_icon {
  margin: 0 auto;
}

.our_approach .our_approach_image img {
  width: 100%;
  height: 1150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 38px;
}
/*# sourceMappingURL=style.css.map */