$coloredBg: #f3fbff;
$lightBlue: #21AAE9;
$white: #fff;
$buttonDark: linear-gradient(0deg, #242424, #000000);
$tabActive: #F7F7F7;
$discriptionGrey: #535353;
$inputColor: #808080;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Sofia Pro', sans-serif!important;
    overflow-x: hidden;
}
button {
    font-family: 'Sofia Pro', sans-serif!important;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
.circle_svg {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    // width: 36%;
    // img {
    //     width: 77%;
    // } 
}
header {
    .circle_svg {
        bottom: -194px;
        right: 380px;
        &.header_second {
            bottom: -493px;
            right: 0;
            left: -304px!important;
        }
    }
}
.our_services {
    .circle_svg {
        top: -473px;
        right: 380px;
        &.our_services_second {
            top: -170px;
            right: 0;
            left: -304px!important;
        }
        &.our_services_third {
            top: auto;
            right: 0;
            left: -424px !important;
            bottom: -276px !important;
        }
        &.our_services_fourth {
            top: auto;
            right: -415px;
            bottom: -436px!important;
        }
    }
}

.our_approach {
    .circle_svg {
        top: -394px;
        left: -424px;
        &.our_approach_second {
            top: -231px;
            right: -415px;
            left: auto;
        }
        &.our_approach_third {
            bottom: -460px!important;
            top: auto;
            left: -158px;
        }
    }
}

.our_process {
    .circle_svg {
        top: -203px;
        left: -156px;
    }
}

.our_promise {
    .circle_svg {
        bottom: -381px;
        left: -424px;
    }
}
.technology_stack {
    .circle_svg {
        top: -292px;
        left: -424px;
        &.technology_stack_second {            
            top: auto;
            bottom: -259px;
            left: auto;
            right: -296px;
        }
    }
}

.alternate_bg {
    background: $coloredBg;
}

// button

.cta_btn {
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Sofia Pro';
    margin-left: 25px;
    padding: 18px 20px;
    width: 200px;
    background: $buttonDark;
    color: $white;
    border: 0;
    border-radius: 5px;
    line-height: 1;
    font-size: 14px;
    box-shadow: 6px 6px 20px #00000020;
    i.fas.fa-phone-alt {
        transform: rotate(90deg);
        -webkit-text-stroke: 1px $white;
        color: #1c1c1c;
    }
    i {
        font-size: 17px;
        margin-right: 8px;
    }
}



// Header section


header {
    position: relative;
    .container {
        max-width: 1434px;
    }
    .logo {
        img {
            width: 100%;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 36px 0;
        
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #000;
                padding: 0 25px;
                font-size: 16px;
                font-weight: 600;
            }
        }    
    }
    
    main {
        display: flex;
        margin-top: 125px;
        padding: 0 20px;
    }
    .meeting_image {
        position: relative;
        width: 50%;
        img {
            position: absolute;
            left: 0;
            z-index: 9;
            width: 100%;
        }
    }
    .heading_content {
        width: 50%;
        z-index: 1;
        h1 {
            font-size: 60px;
            font-weight: 800;
            line-height: 1.1;
            span {
                color: $lightBlue;
            }
        }
        p {
            margin-top: 30px;
            font-size: 26px;
            font-weight: 500;
            line-height: 1;
        }
        .cta_btn {
            font-size: 20px;
            margin: 72px 0 110px;
            padding: 18px 28px;
            i.fas.fa-phone-alt {
                font-size: 22px;
            }
        }
    }
}

// our_services section 

.our_services {
    background: $white;
    // h1.section_heading {
    //     margin: 172px 0 164px;
    // }
}

section {
    position: relative;
    overflow: hidden;
    padding: 190px 0 120px;
    background: $white;
    &.our_promise h1.section_heading {
        flex-flow: wrap;
    }
    h1.section_heading {
        font-size: 55px;
        font-weight: 500;
        margin-bottom: 90px;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: end;
        span {
            font-weight: 700;
            color: $lightBlue;
            margin: 0 12px;
        }
        &:after {
            content: "";
            padding: 1px;
            background: $lightBlue;
            width: 100%;
            position: relative;
            top: -14px;
            margin-left: 20px;
        }
    }
    .heading_discription {
        font-size: 20px;
        line-height: 1.6;
        color: $discriptionGrey;
    }
    .card_element {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        .card {
            width: 100%;
            padding: 33px 21px;
            box-shadow: 0 0 0 transparent;
            border-radius: 100%;
            background: transparent;
            margin-bottom: 70px;
            transition: 0.3s ease all;
            &:hover {
                background: $white;
                box-shadow: 15px 15px 60px #00000010;                
                border-radius: 8px;
                button.learn_more {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }
        .card_wrap {
            position: relative;
            width: 33%;
            &:first-child {
                padding-right: 60px;
            }
            &:nth-child(2) {
                padding: 0 30px;
                top: -74px;
            }
            &:last-child {
                padding-left: 60px;
                top: -42px;
            }
        }
        .card_wrap {
            &:first-child {
                .card_icon {
                    background: #21AAE910;
                }
            }
            &:nth-child(2) {
                .card_icon {
                    background: #F1212110;
                }
            }
            &:nth-child(3) {
                .card_icon {
                    background: #EED91910;
                }
            }
            &:nth-child(4) {
                .card_icon {
                    background: #FF8A0010
                }
            }
            &:nth-child(5) {
                .card_icon {
                    background: #FF00B810;
                }
            }
            &:nth-child(6) {
                .card_icon {
                    background: #21E97110;
                }
            }
        }
        &:last-child {
            .card_wrap {
                &:first-child {
                    .card_icon {
                        background: #FF8A0010
                    }
                }
                &:nth-child(2) {
                    .card_icon {
                        background: #FF00B810;
                    }
                }
                &:nth-child(3) {
                    .card_icon {
                        background: #21E97110;
                    }
                }
            }
        }
        .card_icon {
            width: 92px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
        }
        .card_heading {
            margin: 20px 0 18px;
            font-size: 20px;
            font-weight: 600;
        }
        .card_discription {
            font-weight: 300;
            font-size: 14px;
            max-width: 84%;
            line-height: 1.3;
            margin-bottom: 80px;
        }
        .learn_more {
            background: transparent;
            border: 0;
            color: $lightBlue;
            font-size: 14px;
            transform: translateX(-100px);
            opacity: 0;
            transition: 0.5s ease all;
            img {
                margin-left: 24px;
            }
        }
    }
}

// Our approach section


.our_approach {
    .our_approach_wrap {
        display: flex;
    }
    .card_data {
        width: 60%;
        // padding-top: 172px;
    }
    .our_approach_head {
        width: 40%;
        h1.section_heading {
            display: grid;
            line-height: 1;
            margin-bottom: 0;
            span {
                margin-left: 0;
            }   
            &:after {
                width: 30%;
                top: 0;
                margin: 32px 0;
            }
        }
    }
    .card_element {
        .card_wrap {
            width: 50%;
            padding-right: 60px!important;
            padding-left: 0!important;
            top: 0!important;
        }
        .card {
            padding: 26px 40px 32px;
            text-align: center;
            position: relative;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2321AAE9FF' stroke-width='0' stroke-dasharray='12%2c 14' stroke-dashoffset='50' stroke-linecap='square'/%3e%3c/svg%3e");
            transition: background-image 0.3s ease;
            &:hover {
                background-color: $white;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2321AAE9FF' stroke-width='3' stroke-dasharray='12%2c 14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
                &:after {
                    width: 100%;
                }
            }
            &:after {
                content: "";
                background: $lightBlue;
                padding: 7px 0;
                position: absolute;
                width: 0%;
                left: 0;
                bottom: 0;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                transition: 0.3s ease all;
            }
        }
        .card_heading {
            margin: 40px 0 33px;
        }
        .card_discription {
            margin-bottom: 50px;
            max-width: 100%;
        }
        .card_icon {
            margin: 0 auto;
        }
    }
    .our_approach_image {
        img {
            width: 100%;
            height: 1050px;
            object-fit: cover;
            border-radius: 38px;
            margin-top: 72px;
        }
    }
}

// our Process 

.our_process {
    .card_element {
        .card_wrap {
            top: 0 !important;
        }
        .card_flip {
            .card {
                padding: 0;
                box-shadow: 15px 15px 60px #00000010;
                border-radius: 8px;
                position: relative;
                height: 560px;
                transition: 0.3s ease all;
                animation: cardAnimationRev 0.3s linear;
                * {
                    transition: 0.3s ease all;
                }
                .card_content {
                    position: relative;
                }
            }
            &:hover {
                .card {
                    animation: cardAnimation 0.3s linear;
                }
                .card_Image {
                    img {
                        position: absolute;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0.2;
                    }
                }
                .process_number {
                    position: static;
                    opacity: 1;
                }
                .card_heading {
                    margin: 20px 0 31px;
                    font-size: 25px;
                    font-weight: 700;
                }
                .card_discription {
                    font-size: 16px;
                }
                .learn_more {
                    transform: translate(0px, 45px)!important;
                    img {
                        opacity: 1;
                    }
                }
            }
        }
        
        .card_discription {
            margin-bottom: 40px;
            max-width: 100%;
        }
        .learn_more {
            transform: translateX(0px);
            opacity: 1;
            text-transform: uppercase;
            img {
                opacity: 0;
            }
        }
    }
    .card_Image {
        img {
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
        }
    }
    .card_content {
        padding: 33px 21px;
    }
    .process_number {
        position: absolute;
        font-size: 200px;
        left: -6px;
        top: -42px;
        line-height: 1;
        opacity: 0.05;
        font-weight: 800;
    }
}

// card animation

@keyframes cardAnimation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@keyframes cardAnimationRev {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

// we deliver what we promise

.our_promise {
    padding: 95px 0;
    overflow: visible;
    .our_promise_wrap {
        display: flex;
    }
    h1.section_heading {
        margin-bottom: 0;
        &:after {
            margin: 34px 0;
        }
    }
    .promise_wrap {
        width: 50%;
        position: relative;
    }
    .svg_animation {
        svg {
            position: absolute;
            width: 100%;
            left: 60px;
            top: 0;
            transform: translateY(-32%);
            overflow: visible!important;
        }
    }
    
}

.setting_icon {
    animation: wave 35s infinite;
}
.setting_icon_rev {
    animation: waveRev 40s infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
        transform-box: fill-box;
        transform-origin: center;
    }
    
    100% {
        transform: rotate(360deg);
        transform-box: fill-box;
        transform-origin: center;
    }
}

@keyframes waveRev {
    0% {
        transform: rotate(0deg);
        transform-box: fill-box;
        transform-origin: center;
    }
    
    100% {
        transform: rotate(360deg);
        transform-box: fill-box;
        transform-origin: center;
    }
}

// technology stack 

.technology_stack {
    .tab {
        display: flex;
        justify-content: space-between;
    }
    button.tablinks {
        font-size: 26px;
        line-height: 1;
        padding: 32px 62px;
        text-transform: uppercase;
        font-weight: 500;
        border: 0;
        background: transparent;
        border-radius: 10px;
        width: 100%;
        &.active {    
            background: $tabActive;
        }
    }
    .tech_Images {
        display: flex;
        align-items: end;
        justify-content: center;
        overflow: auto;
        height: 125px;
        margin: 50px 0;
        .tech_with_details {
            text-align: center;
            margin: 0 70px;
            img {
                width: 72px;
            }
        }
    }
}

// contact form 

.contact_form {
    padding: 92px 0;
    .circle_svg {
        top: 129px;
        left: -402px;
        &.contact_second {
            top: -404px;
            right: -296px;
            left: auto;
        }
    }
    .form_element {
        display: flex;
        margin: 0 38px;
        background: #fff;
        border-radius: 12px;
        padding: 40px 45px;
        box-shadow: 15px 15px 45px #00000010;
    }
    .contact_details {
        background: $coloredBg;
        padding: 56px 34px 25px;
        width: 40%;
    }
    .contact_heading {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 35px;
    }
    .contact_discription {
        margin-bottom: 52px;
        font-size: 16px;
        font-weight: 300;
    }
    .contact_details_wrap {
        div {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
        }
        .location {
            margin-bottom: 163px;
        }
        a {
            color: #000;
            text-decoration: none;
            padding-left: 15px;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .social_media_icons {
        i {
            margin-right: 20px;
        }
    }
    .call {
        i.fas.fa-phone-alt {
            transform: rotate(90deg);
        }
    }
    .form_wrap {
        width: 60%;
        padding: 20px 70px;
        form {
            display: flex;
            flex-flow: wrap;
        }
        div {
            width: 100%;
            display: grid;
            padding-right: 10px;
            label {
                font-size: 20px;
                font-weight: 600;
                margin: 30px 0 10px;
            }
            input {
                outline: none;
                border: 0;
                border-bottom: 1px solid black;
                height: 35px;
                font-size: 18px;
            }
            textarea {
                outline: none;
                height: 105px!important;
                width: 100%!important;
                border: 0;
                border-bottom: 1px solid #000;
            }
        }
        .last_name {
            padding-left: 10px;
        }
        .name {
            display: flex;
            div {
                label {
                    margin-top: 0;
                }
            }
        }
    }
    .cta_btn {
        &.submit_btn {
            margin: 42px 10px 0 auto;
        }
    }
}


// footer

footer {
    .container {
        max-width: 1430px;
    }
    .left_ftr_content {
        width: 50%;
        .ftr_logo {
            margin-bottom: 42px;
        }
        .company_shrt_disc {
            p {
                font-size: 22px;
                font-weight: 600;
            }
        }
    }
    .right_ftr_content {
        margin-top: 20px;
        width: 50%;
        .footer_menu {
            padding-left: 150px;
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
                margin-bottom: 14px !important;
                font-weight: 400;
                a {
                    text-decoration: none;
                    color: #A6A9AB;
                }
                &.ftr_menu_heading {
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: 20px !important;
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
    .ftr_content_wrap {
        display: flex;
        margin: 90px 0 75px;
    }
    .footer_foot_content {
        padding: 45px 0;
        display: flex;
        justify-content: space-between;
    }
    .copyright_text {
        font-size: 22px;
        font-weight: 300;
    }
    .social_media_icons {
        i {
            font-size: 22px;
            margin-left: 25px;
        }
    }  
}



@media (min-width: 1850px) {

    header {
        .meeting_image {
            img {
                width: 133%;
            }
        }
    }
    
    .our_promise {
        .svg_animation {
            svg {
                position: absolute;
                width: 110%;
                left: 120px;
                top: 0;
                transform: translateY(-32%);
                overflow: visible!important;
            }
        }
    }

}

@media (max-width: 1430px) {

    // common
    
    .container {
        max-width: 1200px;
    }
    .cta_btn {        
        padding: 16px 25px;
        width: max-content;
    }
    .circle_svg {
        img {
            width: 500px;
            height: 500px;
        }
    }
    section {
        padding: 100px 0;
        h1 {
            &.section_heading {
                font-size: 45px;
            }
        }
        .heading_discription {
            font-size: 18px;
        }
    }

    // header 

    header {
        .container {
            max-width: 1200px;
        }
        .logo {
            img {
                width: 85%;
            }
        }
        ul {
            li {
                a {
                    font-size: 14px;
                    padding: 0 20px;
                }
            }
        }
        main {
            margin-top: 80px;
        }
        .circle_svg {
            right: 200px;
            &.header_second {
                bottom: -336px;
            }
        }
        .heading_content {
            h1 {
                font-size: 50px;
            }
            p {
                font-size: 22px;
            }
            .cta_btn {
                margin: 50px 0 110px;
            }
        }
    }

    // our services 

    .our_services {
        .circle_svg {
            top: -310px;
            right: 200px;
            &.our_services_third {
                left: -350px !important;
                bottom: -230px !important;
            }
            &.our_services_fourth {
                right: -340px;
                bottom: -270px !important;
            }
        }
    }

    // our approach 

    .our_approach {
        .circle_svg {
            top: -274px;
            left: -350px;
            &.our_approach_second {
                top: -233px;
                right: -340px;
            }
            &.our_approach_third {
                bottom: -301px !important;
                left: -156px;
            }
        }
        .card_data {
            width: 70%;
        }
    }

    // our promise

    .our_promise {
        .circle_svg {
            bottom: -212px;
            left: -424px;
        }
    }

    // contact form 

    .contact_form {
        .circle_svg {
            &.contact_second {
                top: -245px;
                right: -296px;
            }
        }
    }

    // technology stack 

    .technology_stack {
        button {
            &.tablinks {
                font-size: 22px;
                padding: 30px 40px;
            }
        }
    }

    // footer 

    footer {
        .container {
            max-width: 1200px;
        }
        .left_ftr_content {
            .company_shrt_disc {
                p {
                    font-size: 20px;
                }
            }
        }
        .copyright_text {
            font-size: 20px;
        }
    }
}


@media (max-width: 1366px) {
    
}
@media (max-width: 1200px) {
    .circle_svg {
        display: none;
    }
}